# --------------------------------------------------
# Python
# --------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environments
venv/
.venv/
env/
ENV/

# Build / packaging
build/
dist/
*.egg-info/

# Jupyter notebooks
.ipynb_checkpoints/

# --------------------------------------------------
# Logs
# --------------------------------------------------
logs/
*.log

# --------------------------------------------------
# Environment variables
# --------------------------------------------------
.env
.env.*

# --------------------------------------------------
# Telethon session files
# --------------------------------------------------
*.session
*.session-journal
sessions/

# --------------------------------------------------
# Credentials or config files
# --------------------------------------------------
config.json
credentials.json

# --------------------------------------------------
# OS / Editor files
# --------------------------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# --------------------------------------------------
# MT5 related cache files
# --------------------------------------------------
*.ini
*.dat

# --------------------------------------------------
# code test file
# --------------------------------------------------
\test.ipynb
\test_2.ipynb
\test_3.ipynb